header {
  margin-top: 30px;
}
.problem_list {
  background-color: black;
}
/* ここから問題一覧 */
.problem_list_content {
  color: green;
}
/* ここまで問題一覧 */

/* ここから問題削除 */
.problem_list_detail_button {
  margin: 0 auto;
  display: block;
  color: black;
  background-color: red;
}
a {
  color: black;
}
/* ここまで問題削除 */

/* ここから問題作成 */
.problem_create {
  background-color: black;
  padding-left: 30px;
}
.problem_choices {
  width: 100%;
}
.problem_choices_content {
  display: flex;
}
.problem_create_title,
.problem_create_content,
.problem_number,
.problem_content,
.problem_image,
.problem_support,
.problem_create_subtitle,
.choice_left,
.choice_center,
.choice_right {
  color: green;
  margin-top: 5px;
}
.problem_create_content_button {
  margin: 0 auto;
  display: block;
  color: black;
  background-color: red;
}
h3 {
  color: green;
}

/* ここまで問題作成 */